<h1>Login page</h1>

<div class="container">
  <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>

  <!-- <div>
    User Name: <input type="text" name="username" [(ngModel)]="username">
    Password: <input type="password" name="password" [(ngModel)]="password">
    <button [routerLink]="['/password-forgot']" routerLinkActive="router-link-active">Forgot Password</button>
    <button (click)="handleJWTAuthLogin()" class="btn btn-success">Login</button>
  </div>
</div> -->

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">User Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password"
      [ngModelOptions]="{standalone: true}">
  </div>
  <a [routerLink]="['/password-forgot']" routerLinkActive="router-link-active">Forgot Password</a><br><br>
  <button type="submit" class="btn btn-success" (click)="handleJWTAuthLogin()">Login</button>
</form>
