<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav">
      <li><a [routerLink]="['/welcome/:name']" routerLinkActive="router-link-active" class="nav-link"
          *ngIf="getAuthentication()">Home</a></li>
      <li><a [routerLink]="['/todo']" routerLinkActive="router-link-active" class="nav-link"
          *ngIf="getAuthentication()">Todo</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a [routerLink]="['/register']" routerLinkActive="router-link-active" class="nav-link">Register</a></li>
      <li><a [routerLink]="['/login']" routerLinkActive="router-link-active" class="nav-link"
          *ngIf="!getAuthentication()">Login</a></li>
      <li><a [routerLink]="['/logout']" routerLinkActive="router-link-active" class="nav-link"
          *ngIf="getAuthentication()">Logout</a></li>
    </ul>
  </nav>
</header>
